@model PointDataAccess.PointPayment

@{
    ViewBag.Title = "DeleteConfirmed";
}

<h2>DeleteConfirmed</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PointPayment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DepositDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepositDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberofDaysLate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberofDaysLate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPayable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPayable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FeeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FeeID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
